body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background-repeat: no-repeat;

}

h1 {
    font-size: 50px;
}

.white-color {
    color: white;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    color: aliceblue;
    font-weight: 300;
    border-radius: 2px;
}

.half-width img {
    width: 70%;
    padding-right: 5px;
}